@import "tailwindcss";

*
{
font-family: "nasalization", sans-serif;
}

@theme
{
    --color-space-background: #2B2B2B;
    --color-space-tekst: #F5F5FF;
    --color-space-blue: #1749A5;
    --color-space-purple: #6B65A5;
    --color-space-highlight: #66CD85;
}